# datadog envs
DD_ENV=dev
DD_LOGS_INJECTION=true
DD_TAGS="env:${DD_ENV}"
DD_PROCESS_AGENT_ENABLED=true
DD_DOGSTATSD_NON_LOCAL_TRAFFIC=true # if expecting external metrics
DD_APM_NON_LOCAL_TRAFFIC=true
DD_APM_ENABLED=true
DD_APM_ANALYZED_SPANS='api-gateway|express.request=1,auth|express.request=1,user|express.request=1'
DD_BIND_HOST=0.0.0.0
DD_LOGS_ENABLED=true
DD_API_KEY=
DD_URL=datadoghq.eu
DD_APM_DD_URL=

DD_LOGS_INJECTION=true
DD_TRACE_SAMPLE_RATE="1"

# custom metric collection
DD_USE_DOGSTATSD=true # default
# DD_DOGSTATSD_PORT=8125 # default
