aliases:
  - &working_directory ~/commercetools-typescript-sdk

  - &restore_yarn_cache
    name: 'Restoring yarn cache'
    keys:
      - v1-yarn-cache-{{ checksum "yarn.lock" }}

  - &save_yarn_cache
    name: 'Saving yarn cache'
    key: v1-yarn-cache-{{ checksum "yarn.lock" }}
    # Persisting to the workspace is always relative to the root which is our working directory.
    # https://circleci.com/docs/2.0/configuration-reference/#persist_to_workspace
    paths:
      - .cache
      - node_modules

executors:
  docker:
    docker:
      - image: cimg/node:14.21.3

version: 2.1
orbs:
  node: circleci/node@5.1.0
  codecov: codecov/codecov@3.2.5

jobs:
  build_and_test:
    parameters:
      os:
        type: executor
      node-version:
        type: string
    executor: << parameters.os >>
    working_directory: *working_directory
    steps:
      - checkout
      - restore_cache: *restore_yarn_cache
      - run:
          name: Installing dependencies
          command: yarn install --frozen-lockfile
      - save_cache: *save_yarn_cache
      - run:
          name: Install example dependencies
          command: |
            cd examples
            yarn install --frozen-lockfile
      - run:
          name: Building packages
          command: yarn build
      - run:
          name: Running example tests
          command: |
            cd examples
            yarn test
      - run:
          name: Running tests
          command: yarn test --testPathPattern='packages/platform-sdk/test/(?!integration-tests).*' --coverage
      - store_artifacts:
          path: coverage

  integration_test:
    parameters:
      os:
        type: executor
      node-version:
        type: string
    executor: << parameters.os >>
    working_directory: *working_directory
    steps:
      - checkout
      - restore_cache: *restore_yarn_cache
      - run:
          name: Installing dependencies
          command: yarn install --frozen-lockfile
      - save_cache: *save_yarn_cache
      - run:
          name: Running integration tests
          command: yarn test --testPathPattern='packages/platform-sdk/test/integration-tests' --coverage
      - store_artifacts:
          path: coverage

  coverage_report:
    parameters:
      os:
        type: executor
      node-version:
        type: string
    executor: << parameters.os >>
    working_directory: *working_directory
    steps:
      - checkout
      - restore_cache: *restore_yarn_cache
      - run:
          name: Installing dependencies
          command: yarn install --frozen-lockfile
#      - run:
#          name: Send code coverage report to Codecov.io
#          command: yarn coverage || true
      - run:
          name: Merge coverage reports and upload to Codecov
          command: yarn coverage -F build_and_test,integration_test

#  update_ml_sdk_from_spec:
#    executor: << parameters.os >>
#    working_directory: ~/commercetools-typescript-spec
#    steps:
#      - checkout
#      - run:
#          name: Configure git
#          command: git config --global user.email "$GIT_AUTHOR_EMAIL" && git config --global user.name "$GIT_AUTHOR_NAME"
#      - add_ssh_keys:
#          fingerprints:
#            - "bd:28:56:34:9d:80:55:fb:74:c4:1f:9d:f4:4e:f1:4b"
#      - run:
#          name: Installing Java
#          command: apt update && apt install default-jre -y
#      - run:
#          name: Installing RMF cli
#          command: export VRAP_VERSION=1.0.0-20200304142749 && curl -o- -s https://raw.githubusercontent.com/vrapio/rmf-codegen/master/scripts/install.sh | bash
#      - restore_cache: *restore_yarn_cache
#      - run:
#          name: Installing dependencies
#          command: yarn install --frozen-lockfile
#      - save_cache: *save_yarn_cache

workflows:
  version: 2
  validate_spec:
    jobs:
      - build_and_test:
          matrix:
            parameters:
              os: [docker]
#              node-version: ["^14.20.0", "^16.17.0", "^18.9.0"]
              node-version: ["^18.9.0"]
      - integration_test:
          requires:
            - build_and_test
          matrix:
            parameters:
              os: [ docker ]
              node-version: ["^18.9.0"]
      - coverage_report:
          requires:
            - build_and_test
            - integration_test
          matrix:
            parameters:
              os: [ docker ]
              node-version: ["^18.9.0"]