aliases:
- &ml_ts_sdk ~/commercetools-typescript-sdk

version: 2.1 
jobs:
  build_and_test:
    working_directory: *ml_ts_sdk
    docker:
      - image: node:12.16.1
    steps:
      - checkout
      - run:
          name: install dependencies
          command: yarn install
      - run:
          name: test
          command: yarn test
      - store_artifacts:
          path: packages/ml-sdk/test-results
          prefix: tests
      - store_test_results: 
          path: packages/ml-sdk/test-results
  update_ml_sdk_from_spec:
    working_directory: ~/commercetools-typescript-spec
    docker:
      - image: node:12.16.1
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "bd:28:56:34:9d:80:55:fb:74:c4:1f:9d:f4:4e:f1:4b"
      - run:
          name: Install java
          command: apt update && apt install default-jre -y
      - run:
          name: run update sdk script
          command: bash ./.circleci//update-ml-sdk.sh
workflows:
  version: 2
  validate_spec:
    jobs:
      - build_and_test