version: 2.1

# define constants
aliases:
  - &working_directory ~/commercetools-sdk-typescript

  # node version 16
  - &restore_yarn_cache_node_16
    name: 'Restoring yarn cache'
    keys:
      - yarn-cache-node_16-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}

  - &save_yarn_cache_node_16
    name: 'Saving yarn cache'
    key: yarn-cache-node_16-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
    paths:
      - ~/.cache/yarn


  # node version 18
  - &restore_yarn_cache_node_18
    name: 'Restoring yarn cache'
    keys:
      - yarn-cache-node_18-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}

  - &save_yarn_cache_node_18
    name: 'Saving yarn cache'
    key: yarn-cache-node_18-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
    paths:
      - ~/.cache/yarn


  # node version 20
  - &restore_yarn_cache_node_20
    name: 'Restoring yarn cache'
    keys:
      - yarn-cache-node_20-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}

  - &save_yarn_cache_node_20
    name: 'Saving yarn cache'
    key: yarn-cache-node_20-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
    # Persisting to the workspace is always relative to the root which is our working directory.
    # https://circleci.com/docs/2.0/configuration-reference/#persist_to_workspace
    paths:
      - ~/.cache/yarn

# executors
executors:
  node_16:
    docker:
      - image: cimg/node:22.0.0
    working_directory: *working_directory

  node_18:
    docker:
      - image: cimg/node:22.0.0
    working_directory: *working_directory

  node_20:
    docker:
      - image: cimg/node:22.0.0
    working_directory: *working_directory


# orbs
orbs:
  codecov: codecov/codecov@4.1.0

# jobs
jobs:
  install_test_node_16:
    executor: node_16
    steps:
      - checkout
      - restore_cache: *restore_yarn_cache_node_16
      - run:
          name: Installing dependencies
          command: yarn install --frozen-lockfile
      - save_cache: *save_yarn_cache_node_16
      - run:
          name: Install example dependencies
          command: |
            cd examples
            yarn install --frozen-lockfile
      - run:
          name: Building packages
          command: yarn build
      - run:
          name: Running example tests
          command: |
            cd examples
            yarn test
      - run:
          name: Running tests
          command: yarn test --testPathIgnorePatterns='packages/platform-sdk/test/integration-tests'

  install_test_node_18:
    executor: node_18
    steps:
      - checkout
      - restore_cache: *restore_yarn_cache_node_18
      - run:
          name: Installing dependencies
          command: yarn install --frozen-lockfile
      - save_cache: *save_yarn_cache_node_18
      - run:
          name: Install example dependencies
          command: |
            cd examples
            yarn install --frozen-lockfile
      - run:
          name: Building packages
          command: yarn build
      - run:
          name: Running example tests
          command: |
            cd examples
            yarn test
      - run:
          name: Running tests
          command: yarn test --testPathIgnorePatterns='packages/platform-sdk/test/integration-tests'

  install_test_node_20:
    executor: node_20
    steps:
      - checkout
      - restore_cache: *restore_yarn_cache_node_20
      - run:
          name: Installing dependencies
          command: yarn install --frozen-lockfile
      - save_cache: *save_yarn_cache_node_20
      - run:
          name: Running integration tests
          command: yarn test packages/platform-sdk/test/integration-tests --coverage
      - codecov/upload:
          file: coverage/clover.xml
          flags: integrationtests

# workflows
workflows:
  version: 2
  build_and_test:
    jobs:
      - install_test_node_16:
          context: org-global
      - install_test_node_18:
          context: org-global
          # requires:
          #   - install_test_node_16
      - install_test_node_20:
          context: org-global
          requires:
            - install_test_node_18
