# commercetools env
CTP_PROJECT_KEY=
CTP_CLIENT_ID=
CTP_CLIENT_SECRET=
CTP_AUTH_URL=https://auth.<your-region>.gcp.commercetools.com
CTP_API_URL=https://api.<your-region>.gcp.commercetools.com

# datadog envs
DD_ENV=dev
DD_LOGS_INJECTION=true
DD_TAGS="env:${DD_ENV}"
DD_PROCESS_AGENT_ENABLED=true
DD_DOGSTATSD_NON_LOCAL_TRAFFIC=true # if expecting external metrics
DD_APM_NON_LOCAL_TRAFFIC=true
DD_APM_ENABLED=true
DD_APM_ANALYZED_SPANS='api-gateway|express.request=1,auth|express.request=1,user|express.request=1'
DD_BIND_HOST=0.0.0.0
DD_LOGS_ENABLED=true
DD_API_KEY=<datadog-api-key>

# Datadog SITE and URL
#
# Replace this with the Datadog SITE and APM URL for your region.
# You can find the correct URL in your Datadog account settings.
# For example, for the US region, the URL would be https://app.datadoghq.com
DD_SITE=<xxx.datadoghq.xxx>
DD_APM_DD_URL=<https://xxx.datadoghq.xxx>

DD_LOGS_INJECTION=true
DD_TRACE_SAMPLE_RATE="1"

# custom metric collection
DD_USE_DOGSTATSD=true # default
# DD_DOGSTATSD_PORT=8125 # default
