name: Qa

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
      - "master"
      - "!changeset-release/**"

  pull_request:

jobs:
  immutable-install:
    if: ${{ !startsWith(github.ref, 'refs/heads/changeset-release/') }}
    name: Immutable Install
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup
        uses: ./.github/actions/ci

      # The shared install action does not respect the
      # `--immutable` flag, so we need to run it here.
      - name: Install with lockfile
        run: yarn install --immutable

  linting:
    if: ${{ !startsWith(github.ref, 'refs/heads/changeset-release/') }}
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup
        uses: ./.github/actions/ci

      - name: Lint
        run: yarn format

  type-checking:
    if: ${{ !startsWith(github.ref, 'refs/heads/changeset-release/') }}
    name: Type checking
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup
        uses: ./.github/actions/ci

      - name: TypeScript
        run: yarn typecheck

  testing:
    if: ${{ !startsWith(github.ref, 'refs/heads/changeset-release/') }}
    name: Testing
    needs: [immutable-install, linting, type-checking]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup
        uses: ./.github/actions/ci

      - name: Build
        run: yarn build

      - uses: oNaiPs/secrets-to-env-action@be0f849b5f57bce2c73624f006578c3b16e98e0c # v1.7
        with:
          secrets: ${{ toJSON(secrets) }}

      - name: Test (Examples)
        run: |
          cd examples
          yarn install --immutable
          yarn test

      - name: Test (Unit)
        run: yarn test:unit

      - name: Test (Integration)
        run: yarn test --coverage

      - name: Upload Coverage Report
        uses: codecov/codecov-action@v5 #2db07e317924c76f654a414629d71c65876882e2 v5.4.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: test-coverage

  regression-testing:
    if: ${{ github.ref != 'refs/heads/master' && !startsWith(github.ref, 'refs/heads/changeset-release/')}}
    name: Regression Testing
    needs: [testing]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [18, 20]
      fail-fast: true
      max-parallel: 1

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup
        uses: ./.github/actions/ci

      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: ${{ matrix.version }}

      - name: Build
        run: yarn build

      - uses: oNaiPs/secrets-to-env-action@be0f849b5f57bce2c73624f006578c3b16e98e0c # v1.7
        with:
          secrets: ${{ toJSON(secrets) }}

      - name: Integration tests
        run: yarn test

  cleanup:
    name: cleanup resource
    runs-on: ubuntu-latest

    # wait for test job
    needs: [testing, regression-testing]

    # ALWAYS run, even if test failed
    if: always()

    steps:
      - uses: actions/checkout@v4
      - uses: oNaiPs/secrets-to-env-action@be0f849b5f57bce2c73624f006578c3b16e98e0c # v1.7
        with:
          secrets: ${{ toJSON(secrets) }}
      - uses: ./.github/actions/cu
